<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title><%=title%></title>
    <link rel="stylesheet" href="./dist/main.css?v=4cd04f74f48b2d950e95"/><!-- inject:css -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but demo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script crossorigin="anonymous" src="./dist/main.js?v=1e666183ddac37e00c59"></script><!-- inject:js -->
  </body>
</html>
